<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/aerospin_db</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Kbeoqsm7@</property>
        <property name="show_sql">true</property>
        <mapping class="model.persistence.entity.Airport"/>
        <mapping class="model.persistence.entity.Route"/>
        <mapping class="model.persistence.entity.Passenger"/>
        <mapping class="model.persistence.entity.User"/>
        <mapping class="model.persistence.entity.Flight"/>
        <mapping class="model.persistence.entity.Orders"/>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>

</hibernate-configuration>